.back-link {
    background-color: rgba(233,112,3,255);
    padding: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    height: 2rem;
    text-align: center;
    margin: 1rem 1rem 1rem 3rem;
    width: 8rem;
    border-radius: 0.5rem;
}

.add-or-lookup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-or-lookup > form > input[type="submit"] {
    border-bottom: none;
    background-color: rgba(31,123,190,255);
}

.cert-errors {
    margin-top: 5rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}