.cert-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.verify-message {
    margin: 4rem 2rem;
    font-size: 1.5rem;
    color: orange;
    align-self: center;
}

.cert-wrapper {
    display: flex;
    flex-direction: column;
}