section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

button {
    margin: 4rem 2rem;
    border: none;
    width: 10rem;
    height: 5rem;
    background-color: rgba(233,112,3,255);
    font-size: 1.25rem;
    font-family: 'Rajdhani', sans-serif;
}