.profile {
    margin: 0;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile > button {
    height: 2rem;
    width: 5.25rem;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0.5rem 1rem;
}

.profile > p {
    color: orange;
    font-size: 1.25rem;
    font-weight: bold;
}

.update > p {
    margin: 0.5rem 0.2rem;
}

.update > div > button {
    height: 2rem;
    width: 5rem;
    justify-self: flex-start;
    margin: 1rem 2rem;
}

.update > button {
    height: 2rem;
    width: 5rem;
    justify-self: flex-start;
    margin: 2rem;
}

.update > input {
    width: 15rem;
}

.update {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25rem;
    width: 20rem;
    font-size: 1.5rem;
    margin-left: 2;
    justify-content: flex-start;
    align-items: space-around;
}

.update-div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}