.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25rem;
    width: 20rem;
    font-size: 1.5rem;
    margin-left: 2;
    justify-content: flex-start;
    align-items: space-around;
}

.profile > p {
    margin: 0.5rem 0.2rem;
}

.profile > button {
    height: 2rem;
    width: 5rem;
    justify-self: flex-start;
    margin: 2.5rem;
}

.profile > input {
    width: 15rem;
}