.back-link {
    background-color: rgba(233,112,3,255);
    padding: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    height: 2rem;
    text-align: center;
    margin: 1rem 1rem 1rem 3rem;
    width: 8rem;
}

.add-cert-form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.add-cert-form > select {
    margin: 4rem 2rem;
    border: none;
    width: 12rem;
    height: 2rem;
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
}

.add-or-lookup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lookup {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.lookup > p {
    color: rgba(233,112,3,255);
    font-size: 1.25rem;
    font-weight: bold;
}

.add-or-lookup > form > input[type="submit"] {
    border-bottom: none;
    background-color: rgba(31,123,190,255);
}