.cert-card {
    width: 25rem;
    height: 25rem;
    box-shadow: 0px 0px 10px 2px rgba(255, 166, 0, 0.246);
    text-align: left;
    border-radius: 2rem;
    margin: 1rem;
    font-size: 1.25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.view-cert {
    background-color: rgba(233,112,3,255);
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
    width: 8rem;
    align-self: center;
}

.icon {
    width: 4rem;
    margin: 0.5rem;
    align-self: flex-end;
}

.important {
    font-size: 2.35rem;
    margin: 0.75rem;
}

.less-important {
    font-size: 1.25rem;
    margin: 0.75rem;
    color:rgb(95, 91, 85)
}

.cert-text-box {
    margin-top: -3.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}