header {
    height: 12rem;
    margin: 0;
    padding: 2rem;
    /* border-bottom: 1px solid rgba(233,112,3,255); */
    background-image: linear-gradient(to left, rgba(233,112,3,255), white);
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 4rem;
    margin: 0;
}

header > p {
    font-family: 'Major Mono Display', monospace;
}

.add-cert {
    position: absolute;
    right: 2rem;
    top: 8rem;
    width: 12rem;
    background-color: rgba(31,123,190,255);
    padding: 2rem;
    text-decoration: none;
    font-size: 1.75rem;
    color: black;
    cursor: pointer;
    height: 2rem;
    text-align: center;
    margin: 1rem;
}