header {
    height: 12rem;
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid orange;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 4rem;
    margin: 0;
}

header > p {
    font-family: 'Major Mono Display', monospace;
}

.add-cert {
    position: absolute;
    right: 2rem;
    top: 8rem;
    width: 12rem;
}