input {
    border: none;
    border-bottom: 1px solid rgba(233,112,3,255);
    margin: 2rem 2rem;
    width: 12rem;
    height: 3rem;
    font-size: 1.25rem;
    font-family: 'Rajdhani', sans-serif;
}

input [type="submit"] {
    background-color: rgba(233,112,3,255);
    font-family: 'Rajdhani', sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}