.update > p {
    margin: 0.5rem 0.2rem;
}

.update > div > button {
    height: 2rem;
    width: 5rem;
    justify-self: flex-start;
    margin: 1rem 2rem;
}

.update > button {
    height: 2rem;
    width: 5rem;
    justify-self: flex-start;
    margin: 2rem;
}

.update > input {
    width: 15rem;
}

.update {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25rem;
    font-size: 1.5rem;
    margin-left: 4rem;
    justify-content: flex-start;
    align-items: space-around;
}
