@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
}

label {
    display: none;
}

main {
    margin: 0;
    padding: 0;
}