@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
}

label {
    display: none;
}

main {
    margin: 0;
    padding: 0;
    min-height: 38rem;
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    border: none;
    background-color: rgba(31,123,190,255);
    font-weight: bold;
}

.errors {
    color: rgba(31,123,190,255);
}

.climber-image {
    width: 15rem;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 2000px) {
    .climber-image {
        width: 30rem !important;
    }
}


@media screen and (min-width: 1400px) {

    .block-image {
        width: 15rem !important;
    }

    .github-logo {
        height: 9rem !important;
    }

    .about-dev > p {
        font-size: 1.25rem !important;
    }

    .about-title {
        font-size: 2rem !important;
    }

    .profile {
        margin-left: 10rem !important;
        margin-top: 3rem !important;
    }

    .cert-container {
        margin-left: 10rem !important;
    }

    .climber-image {
        width: 20rem;
        margin-top: 0 !important;
        margin-right: 3rem !important;
    }
}

@media screen and (max-width: 1000px) {
    .update {
        height: auto !important;
    }

    .password-edit {
        margin-top: 0 !important;
    }

    .update-div {
        margin-top: 0 !important;
    }

}



@media screen and (max-width: 800px) {
    .about-dev > p {
        font-size: 0.75rem !important;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        max-width: 15rem !important;
    }

    .block-image {
        width: 7rem !important;
        margin: 0;
    }

    .github-logo {
        height: 3.5rem !important; 
        margin: 0;
    }

    .hide-on-small {
        display: none;
    }

    .about-dev > p {
        font-size: 1rem !important;
        margin: 0.25rem !important;
    }

    .about-title {
        margin: 1.5rem;
    }

    h1 {
        font-size: 2.5rem !important;
    }

    .add-cert {
        width: 6rem !important;
        font-size: 1.25rem !important;
        padding: 1.5rem 1.5rem 2.5rem 1.5rem !important;
        font-weight: bold;
    }

    .update {
        height: auto !important;
        max-width: none !important;
        margin-left: 2rem !important;
    }

    .cert-container {
        margin: 0 !important;
    }
}